<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SC.AgentDeployer.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <SC.AgentDeployer.Client.Properties.Settings>
      <setting name="StatusProcessingPayload" serializeAs="String">
        <value>Processing networker payload...</value>
      </setting>
      <setting name="StatusFinishedProcessingPayload" serializeAs="String">
        <value>Finished processing networker payload</value>
      </setting>
      <setting name="StatusLoadedFromSubnet" serializeAs="String">
        <value>Loaded subnet addresses</value>
      </setting>
      <setting name="StatusLoadedFromArpTable" serializeAs="String">
        <value>Loaded addresses from arp table</value>
      </setting>
      <setting name="StatusLoadStatusFinished" serializeAs="String">
        <value>Finished loading client statuses</value>
      </setting>
      <setting name="StatusDeployClientFinished" serializeAs="String">
        <value>Finished attempting client deployment</value>
      </setting>
      <setting name="StatusSelectAllComplete" serializeAs="String">
        <value>Select all complete</value>
      </setting>
      <setting name="StatusClearAllComplete" serializeAs="String">
        <value>Clear selection complete</value>
      </setting>
      <setting name="MsiInstallerFileName" serializeAs="String">
        <value>SC.AgentDeployer.Installer.msi</value>
      </setting>
      <setting name="NetworkerServiceFileName" serializeAs="String">
        <value>SC.AgentDeployer.Installer.exe</value>
      </setting>
      <setting name="StatusLoadingStatusForIp" serializeAs="String">
        <value>Loading status for {0}...</value>
      </setting>
      <setting name="StatusDeployingToIp" serializeAs="String">
        <value>Attempting client deployment to  {0}...</value>
      </setting>
      <setting name="StatusEnterValidCredentials" serializeAs="String">
        <value>Please enter an admin username and password</value>
      </setting>
      <setting name="StatusSelectIpBeforeCheckStatus" serializeAs="String">
        <value>Please select at least one IP address before checking status</value>
      </setting>
      <setting name="StatusSelectIpBeforeDeployClient" serializeAs="String">
        <value>Please select at least one IP address before deploying client</value>
      </setting>
      <setting name="LoadingClientInfo" serializeAs="String">
        <value>Loading client information...</value>
      </setting>
      <setting name="ServiceInstallationFailed" serializeAs="String">
        <value>Service installation failed</value>
      </setting>
      <setting name="FailedOpenScm" serializeAs="String">
        <value>Failed to open SCM on remote machine</value>
      </setting>
      <setting name="ClientInstalledScmAndClientOpenAndClose" serializeAs="String">
        <value>Client installed (SCM and client service handles opened and closed)</value>
      </setting>
      <setting name="ClientInstalledScmOpenNotCloseClientOpenAndClose" serializeAs="String">
        <value>Client installed (Client service handle opened and closed. SCM opened, but failed to close)</value>
      </setting>
      <setting name="ClientInstalledScmOpenAndCloseClientOpenNotClose" serializeAs="String">
        <value>Client installed (Client service handle failed to close. SCM handle opened and closed)</value>
      </setting>
      <setting name="ClientInstalledScmAndClientOpenAndNotClose" serializeAs="String">
        <value>Client installed (Client service and SCM handles failed to close)</value>
      </setting>
      <setting name="ClientNotInstalledScmOpenAndClose" serializeAs="String">
        <value>Client not installed (SCM handle opened and closed)</value>
      </setting>
      <setting name="ClientNotInstalledScmOpenNotClose" serializeAs="String">
        <value>Client not installed (SCM handle opened, but failed to close)</value>
      </setting>
      <setting name="ClientDetailsUpdated" serializeAs="String">
        <value>Client Details Updated</value>
      </setting>
    </SC.AgentDeployer.Client.Properties.Settings>
  </userSettings>
</configuration>
