<configuration>
  <configSections>
    <section name="ScreenConnect.SystemSettings" type="System.Configuration.ClientSettingsSection" />
    <section name="ScreenConnect.UserInterfaceSettings" type="System.Configuration.ClientSettingsSection" />
  </configSections>
  <ScreenConnect.SystemSettings />
  <ScreenConnect.UserInterfaceSettings>
    <setting name="ShowBalloonOnConnect" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="SupportShowBalloonOnConnect" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="AccessShowBalloonOnConnect" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="HideWallpaperOnConnect" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="SupportHideWallpaperOnConnect" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="AccessHideWallpaperOnConnect" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="SupportShowBalloonOnHide" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="AccessShowBalloonOnHide" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="AccessShowUnderControlBanner" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="SupportShowUnderControlBanner" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="ShowSystemTrayIcon" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="SupportShowSystemTrayIcon" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="AccessShowSystemTrayIcon" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="ShowFeedbackSurveyForm" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="ShowCloseDialogOnExit" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="ShowCloseDialogOnExit" serializeAs="String">
      <value>false</value>
    </setting>
  </ScreenConnect.UserInterfaceSettings>
</configuration>